build/
docs/build/
docs/doxyxml/
node_modules/
*.obj
*.sdf
*.suo
*.opensdf
*.vcxproj.user
*.o
#*#
*~
.DS_Store
__pycache__/
Win32/

CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
cmake_uninstall.cmake
cygxlnt-0.9.dll
libxlnt.dll.a
third-party/libstudxml/CMakeFiles/
third-party/libstudxml/Makefile
third-party/libstudxml/cmake_install.cmake
xlnt.pc

